@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* variables */
:root {
  --header-height: 4rem;

  --dark-color: hsl(0, 0%, 10%);
  --body-color: hsl(0, 0%, 85%);
  --section-color: linear-gradient(135deg, hsl(0, 0%, 70%), hsl(0, 0%, 30%));
  --container-color: linear-gradient(135deg, hsl(0, 0%, 80%), hsl(0, 0%, 50%));
  --hover-color: linear-gradient(90deg, hsl(0, 0%, 100%), hsl(0, 0%, 80%));
  --white-color: hsl(0, 0%, 100%);

  --body-font-family: 'Poppins', sans-serif;
  --biggest-font-size: 4rem;
  --h1-font-size: 3rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.9rem;
  --tiny-font-size: 0.75rem;

  --font-regular: 400;
  --font-medium: 500;
  --font-semi: 600;
  --font-bold: 700;

  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
}

@media (max-width: 992px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.9rem;
    --small-font-size: 0.85rem;
    --tiny-font-size: 0.7rem;
  }
}

/*BASE */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font-family);
  font-size: var(--normal-font-size);

  background: hsl(0, 0%, 85%);
  color: var(--dark-color);
}

main {
  overflow: hidden;
}

h1,h2,h3,h4 {
  font-weight: var(--font-bold);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input {
  font-family: var(--body-font-family);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

/*----------------*/
.container {
  max-width: 1140px;
  margin: 0 auto;
  width: calc(100% - 3rem);
}

.section {
  padding: 5rem 0 2rem;
}

.section-title {
  text-align: center;
  margin-bottom: var(--mb-3);
  
}

/*button  */
.button {
  display: inline-block;
  background-color: var(--dark-color);
  padding: 1rem 1.7rem;
  border-radius: 0.5rem;
  transition: 0.3s;

  overflow: hidden;
  position: relative;
}

.button__text {
  position: relative;
  z-index: 10;
  color: var(--white-color);
  font-weight: var(--font-semi);
  transition: 0.3s;
}

.button__hover-left,
.button__hover-right {
  position: absolute;
  width: 100%;
  height: 50%;
  background: var(--hover-color);
  transition: 0.5s;
}

.button__hover-left {
  top: 0;
  left: -100%;
}

.button__hover-right {
  bottom: 0;
  right: -100%;
}

.button:hover .button__text {
  color: var(--dark-color);
}

.button:hover .button__hover-left {
  left: 0;
}
.button:hover .button__hover-right {
  right: 0;
}

/*--- HEADER -----*/

.nav__toggle {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 10px 10px 18px 1px rgb(133, 134, 134);
}

.nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
}

.scroll-header {
  background: hsl(0, 0%, 90%);
}
.nav__cart{
  margin-left: 900px;
}

/*Footer*/
.footer {
  background: var(--section-color);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: space-between;
  margin-left: 30%;
}

.footer__link {
  color: var(--dark-color);
  font-weight: 500;
  font-size: medium;
  display: block;
  transition: 0.3s;
}
.footer__link:hover {
  transform: translateX(-20px);
}

/*-------- SALE ---------*/
.sale {
  margin-top: 3rem;
}

.sale__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
}

.sale__card {
  background: var(--container-color);
  border-radius: 1rem;
  text-align: center;
  padding: 1.5rem 1rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 2px hsl(0, 0%, 40%);
}

.sale__tag {
  position: absolute;
  background: var(--dark-color);
  font-weight: var(--font-semi);
  font-size: var(--small-font-size);
  text-transform: uppercase;
  color: var(--white-color);
  text-align: center;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  transition: 0.3s;
  transform: rotate(-90deg) translate(0, -0.8rem);
}

.sale__img {
  width: 150px;
  margin: auto;
  transform: translateY(1.5rem);
  transition: 0.3s;
}

.sale__data {
  transform: translateY(2rem);
  transition: 0.3s;
}

.sale__price {
  display: block;
  font-weight: var(--font-semi);
  margin-bottom: var(--mb-0-5);
}

.sale__button {
  padding: 0.8rem 1.2rem;
  transform: translateY(6rem);
}

.sale__card:hover .sale__img {
  transform: translateY(-0.5rem) rotate(-10deg);
}

.sale__card:hover .sale__data {
  transform: translateY(0);
}

.sale__card:hover .sale__button {
  transform: translateY(0);
  transition-delay: 0.2s;
}

.sale__card:hover .sale__tag {
  transform: rotate(0) translate(0, -0.5rem);
}

/* ------- Page ------- */
.pages {
  display: flex;
  gap: 0.5rem;
  margin: 1.5rem 0.5rem;
}

.page {
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: var(--container-color);
  font-weight: var(--font-bold);
  border-radius: 0.2rem;
  transition: 0.3s;
}

.page i {
  font-size: 1.3rem;
}

.page:hover {
  background: var(--dark-color);
  color: var(--white-color);
}

/*---- preloader ----*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: grid;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    hsla(0, 0%, 70%, 0.4),
    hsla(0, 0%, 30%, 0.4)
  );
  backdrop-filter: blur(20px);
}

.preloader__img {
  width: 100px;
  filter: drop-shadow(0 0 3px hsla(0, 0%, 10%)) contrast(70%);
  animation: preloader 4s infinite;
}

@keyframes preloader {
  0% {
    transform: rotateY(0) translateY(1rem) scale(1);
  }
  50% {
    transform: rotateY(180deg) translateY(-1rem) scale(1.5);
  }
  100% {
    transform: rotateY(0) translateY(1rem) scale(1);
  }
}
